main {
  color: rgba(245, 245, 245, 0.8);
}

.title-container {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 3px 0 rgba(78, 133, 154, 0.7);
}

.login-form {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.login > h1 {
  margin: 10px 0;
  text-align: right;
  padding: 0 5px;
}

.login > label {
  text-align: right;
  padding: 10px 5px;
}

.login > input {
  background-color: rgba(245, 245, 245, 0.8);
  border: none;
  font-family: inherit;
  align-self: flex-end;
  width: 85%;
  margin-right: 5px;
  padding: 3px;
}

.submit {
  font-family: inherit;
  font-size: large;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  align-self: center;
  width: 20%;
  margin: 30px 0;
  padding: 5px 0;
}

.submit:hover {
  background-color: rgba(245, 245, 245, 0.6);
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 768px) {

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  section {
    height: 70%;
    width: 50%;
  }

  .title-container {
    height: 100%;
  }

  .login-form {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .login {
    background-color: rgba(0, 0, 0, 0.35);
    justify-content: center;
    gap: 2em;
    height: 80%;
    width: 80%;
  }

  .login > input {
    font-size: large;
    width: 70%;
  }

}

@media only screen and (min-width: 1024px) {
  
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  section {
    height: 40%;
    width: 50%;
  }

  .login-form {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    background-color: rgba(0, 0, 0, 0.35);
    justify-content: center;
    gap: 1em;
    width: 80%;
  }

  .login > input {
    width: 70%;
  }

}