main {
  color: rgba(245, 245, 245, 0.8);
  height: 90vh;
}

.equipment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.equipment-content {
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.equipment-details {
  text-align: right;
  height: 75%;
  width: 100%;
}

.equipment-details > * {
  padding-bottom: 40px;
}

.equipment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  width: 100%;
}

.anchor-button {
  font-family: inherit;
  font-size: large;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  align-self: center;
  width: 20%;
  padding: 5px 0;
  text-align: center;
}

.anchor-button:hover {
  background-color: rgba(245, 245, 245, 0.6);
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 768px) {

  .equipment-content {
    width: 60%;
  }

}

@media only screen and (min-width: 1024px) {

  .equipment-content {
    width: 30%;
  }

  p, h4 {
    font-size: larger;
  }

}