{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/equipment/equipment-detail.css' %}">

{% endblock %}

{% block content %}

<section class="equipment-container">
  {% if equipment.type == 'T' %}
  <h1>{{ equipment.name }} - Tool</h1>
  {% else %}
    {% if equipment.type == 'S' %}
    <h1>{{ equipment.name }} - Shelter</h1>
    {% else %}
    <h1>{{ equipment.name }} - Outfit</h1>
    {% endif %}
  {% endif %}
  <div class="equipment-content">
    <div class="detail-img">
      {% comment %} image goes here {% endcomment %}
    </div>
    <div class="equipment-details">
      <h2>Description</h2>
      <p>{{ equipment.description }}</p>
      <h2>Durability</h2>
      {% if equipment.durability == 'W' %}
      <h4>Worn</h4>
      {% else %}
        {% if equipment.durability == 'U' %}
        <h4>Used</h4>
        {% else %}
        <h4>Unused</h4>
        {% endif %}
      {% endif %}
      <h2>Survival Rating</h2>
      <h4>{{ equipment.rating }}</h4>
    </div>
    <div class="equipment-buttons">
      <a href="{% url 'equipment_update' equipment.id %}" class="anchor-button">Edit</a>
      <a href="{% url 'equipment_delete' equipment.id %}" class="anchor-button">Discard</a>
    </div>
  </div>
</section>

{% endblock %}