{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/equipment/equipment-index.css' %}">

{% endblock %}

{% block content %}

<section class="equipment-container">
  <div class="tool-container">
    <h1>Tools</h1>
    {% if tools %}
    <div class="card-container">
      {% for tool in tools %}
      <div class="card">
        <a href="{% url 'equipment_detail' tool.id %}">
          <div class="card-content">
            <div class="card-image">
    
            </div>
            <h3>{{ tool.name }}</h3>
            <h4>Survival Rating: {{ tool.rating }}</h4>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="empty-message">
      <h2>You should look for some tools...</h2>
    </div>
    {% endif %}
  </div>
  <div class="shelter-container">
    <h1>Shelters</h1>
    {% if shelters %}
    <div class="card-container">
      {% for shelter in shelters %}
      <div class="card">
        <a href="{% url 'equipment_detail' shelter.id %}">
          <div class="card-content">
            <div class="card-image">
  
            </div>
            <h3>{{ shelter.name }}</h3>
            <h4>Survival Rating: {{ shelter.rating }}</h4>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="empty-message">
      <h2>You should make a shelter...</h2>
    </div>
    {% endif %}
  </div>
  <div class="outfits-container">
    <h1>Outfits</h1>
    {% if outfits %}
    <div class="card-container">
      {% for outfit in outfits %}
      <div class="card">
        <a href="{% url 'equipment_detail' outfit.id %}">
          <div class="card-content">
            <div class="card-image">
              {% comment %} image goes here {% endcomment %}
            </div>
            <h3>{{ outfit.name }}</h3>
            <h4>Survival Rating: {{ outfit.rating }}</h4>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="empty-message">
      <h2>You should probably wear an outfit...</h2>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}